.wraper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr /* fr se adapta ao tamanho da tela (tamanho flexivel)*/;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    .wraper {
        grid-template-columns: 1fr;
    }
}